body {
    background-image: url(https://image.freepik.com/free-photo/gray-wall-textures-background_74190-4389.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-thumbnail {
    float: left;
    margin: 10px;
}

h1 {
    margin: 10px 10px;
}

p {
    margin: 30px;
}